html,
body {
    height: 100%;
    width: 100%;
    margin: 0; /* make sure this it's full screen*/
    padding: 0; /* make sure this it's full screen*/
}

.wrap {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #120103;
    color: #fff;
    text-align: center;
}

header {
    background: #3E474F;
    box-shadow: 0 .5em 1em #111;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
}

header label {
    color: #788188;
    cursor: pointer;
    display: inline-block;
    line-height: 4.25em;
    font-size: .667em;
    font-weight: bold;
    padding: 0 1em;
}

header label:hover {
    background: #2e353b;
}

.slide {
    height: 100%;
    width: 100%; 
    position: absolute;
    top: 0;
    left:100%;
    z-index: 10;
    padding: 8em 1em 0;
    background-color: #120103;
    background-position: 50% 50%;
    background-size: cover;
}


.slide-one { background-image: url('/images/starryFarm.jpg');}

.slide-one { background-image: url('/images/campusDarkDays.jpg');}

.slide-one { background-image: url('/images/autumn.jpg');}

.slide-one { background-image: url('/images/lakeside.jpg');}